<li>
  <h4><%= user.name %>
    <span class="profile-link">
      <%= link_to 'See Profile', user_path(user), class: 'profile-link' %>              
        <%= link_to user_friendships_path(user), method: :post, data: {confirm: "Are you sure you want to add this friend?" } do %>
          <button>Add Friend</button>
        <% end %>
    </span>
  </h5>
</li>