<div class="pr">
  <% unless @pending_requests.empty? %>
    <h3>Pending Requests</h3>
    <ul class="pending_requests">
      <% @pending_requests.each do |user| %>
        <li>
          <%= user.name %>
          <span class="profile-link">
            <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
            <small>Pending Request</small>
          </span>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>