<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <% unless user.name == current_user.name %>
        <li>
          Name: <%= user.name %>
          <span class="profile-link">
            <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
            <% if current_user.viable_friend?(user) %>
              <%= link_to user_friendships_path(user), method: :post, data: {confirm: "Are you sure you want to add this friend?" } do %>
                <button>Add Friend</button>
              <% end %>
            <% end %>
            <% if current_user.request_received?(user) %>
              <%= link_to accept_request_user_friendships_path(user), data: {confirm: "Are you sure about this?" } do %>
                <button>Accept Request</button>
              <% end %>
            <% end %>
          </span>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
