<section class="users-section">
  <%= render 'partials/friends'%>
  <%= render 'partials/pending_requests' %>
  <%= render 'partials/received_requests' %>

  <div class="other_user">
    <h3>Other Users</h3>
    <ul class="users-list">
      <% @users.each do |user| %>
        <%= not_user_n_friends_with(user, 'See Profile', 'Add Friend') %>
      <% end %>
    </ul>
  </div>
</section>
